html{
    overflow: scroll;
    overflow-x: hidden;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard{
    background-color: #e2e2e2
    ;
    height: 650px; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-fluidss {
    padding: 1% 2%;
    text-align: center;
  }
  .coloredd-sectionss {
    background-color: #c2c2c2;
  }
