html{
    overflow: scroll;
    overflow-x: hidden;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard{
    background-color: #0dcaf0;
    height: 600px; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-fluidss {
    padding: 1% 2%;
    text-align: center;
  }
  .coloredd-sectionss {
    background-color: #1fa8c4;
  }
